<div class="d-flex flex-column align-items-center mb-4">
    <app-header></app-header>


</div>
<div class="contenedor-general">
    <div class="d-flex justify-content-center">
        <div class="row w-100 justify-content-center">
            <div class="col-lg-9 col-md-8 col-12 contenedor-listado">
                <div class="card">
                    <div class="card-header bg-primary text-white text-center">
                        <h4 class="mb-0 font-weight-bold">DETALLES DE LA PLANILLA</h4>
                    </div>
                    <div class="card-body">
                        <div class="container mt-5">
                            <div class="row">
                                <div class="col-lg-8 offset-lg-2">
                                    <div class="card">
                                        <div class="card-body mt-4 text-left">
                                            <p><strong>Detalle de la Planilla:</strong> {{ descripcionPlanilla }}</p>

                                            <p><strong>Categoría:</strong> {{ descripcionCategoria }}</p>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end align-items-center mt-3" style="gap: 20px;">
                                        <select class="form-select" style="width: 300px;"
                                                [(ngModel)]="itemSeleccionado">
                                            <option value="" disabled selected>Selecciona un ítem</option>
                                            <option *ngFor="let item of todosLosItems" [value]="item._id">
                                                {{ item.descripcion }}
                                            </option>
                                        </select>


                                        <button class="btn btn-success" (click)="agregarNuevoItem()">
                                            <i class="fas fa-plus"></i> Agregar Ítem
                                        </button>
                                    </div>
                                    <div class="card mt-3">
                                        <div class="card-body">
                                            <h5 class="mb-3 text-center">Lista de Ítems</h5>
                                            <table class="table table-bordered" *ngIf="items.length > 0">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Descripción</th>
                                                        <th class="text-center">Valor</th>
                                                        <th class="text-center"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of items">
                                                        <td>{{ item?.id }}</td>
                                                        <td>{{ item?.descripcion }}</td>
                                                        <td class="text-center">{{ item?.valor }}</td>
                                                        <td class="text-center">
                                                            <button class="btn btn-danger btn-sm"
                                                                    (click)="eliminarItem(item)">
                                                                <i class="fas fa-trash-alt"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div *ngIf="items.length === 0"
                                                 class="alert alert-warning mt-3 text-center">
                                                <p>No se encontraron ítems para esta categoría.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>